@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 100px;
}

#form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  width: 400px;
}
